@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kalam&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300;1,400&family=Lobster&family=PT+Sans:wght@400;700&family=Public+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Sriracha&family=Vidaloka&family=Ysabeau+Office:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kalam&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300;1,400&family=Lobster&family=PT+Sans:wght@400;700&family=Sriracha&family=Ysabeau+Office:ital,wght@1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(155, 152, 152);
    color: rgb(0, 0, 0);
}
header{
    background-image: linear-gradient(to bottom, black, rgb(0, 0, 0), rgb(4, 7, 4), rgb(7, 61, 7));
    padding: 10px;
    display: flex;
    justify-content: center;
}
.logo img{
    height: 150px;
}
main{
    margin: auto;
    background-color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: rgb(6, 158, 95);
}
.personagem{
    margin: auto;
    text-align: center;
}
.personagem p{
    font-family: 'Kalam', cursive;
    font-weight: 500;
    font-size: 1.4em;
    text-align: justify;
    text-indent: 20px;
    line-height: 28px;
    padding: 20px 10px;
}
.personagem#imagem{
    background-image: url(../imagens/Mercurio.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.introducao{
    margin: auto;
    text-align: center;
}
.introducao p{
    font-family: 'Kalam', cursive;
    font-weight: 500;
    font-size: 1.4em;
    text-align: justify;
    text-indent: 20px;
    line-height: 28px;
    padding: 15px;
}
.introducao .pergunta{
    font-family: 'Carter One', cursive;
    font-family: 'Jost', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Sriracha', cursive;
    font-family: 'Ysabeau Office', sans-serif;    font-weight: 800;
    font-size: 1.3em;
    padding: 10px;
}
.diferenca-1 h2{
    font-family: 'Carter One', cursive;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    text-indent: 10px;
    padding: 10px;
}
.diferenca-1 p{
    font-family: 'Kalam', cursive;
    font-weight: 500;
    font-size: 1.4em;
    text-align: justify;
    text-indent: 20px;
    line-height: 23px;
    padding: 10px 10px;
}
.diferenca-1#imagem2{
    background-image: url(../imagens/Quicksilver-ultron.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.diferenca-2 h2{
    font-family: 'Carter One', cursive;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    text-indent: 10px;
    padding: 10px;
}
.diferenca-2 p{
    font-family: 'Kalam', cursive;
    font-weight: 500;
    font-size: 1.4em;
    text-align: justify;
    text-indent: 20px;
    line-height: 23px;
    padding: 10px 10px;
}
.diferenca-2#imagem3{
    background-image: url(../imagens/578013d0-3d2d-48a7-89d0-fcba556c2975.jpg);
    height: 80vh;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.diferenca-2#imagem4{
    background-image: url(../imagens/download-1.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.diferenca-3 h2{
    font-family: 'Carter One', cursive;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    text-indent: 10px;
    padding: 10px;
}
.diferenca-3 p{
    font-family: 'Kalam', cursive;
    font-weight: 500;
    font-size: 1.4em;
    text-align: justify;
    text-indent: 20px;
    line-height: 23px;
    padding: 10px 10px;
}
.diferenca-3#imagem5{
    background-image: url(../imagens/pietro.webp);
    height: 90vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;    height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.diferenca-3#imagem6{
    background-image: url(../imagens/download4.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.diferenca-4 h2{
    font-family: 'Carter One', cursive;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    text-indent: 10px;
    padding: 10px;
}
.diferenca-4 p{    font-family: 'Kalam', cursive;
    font-weight: 500;
    font-size: 1.4em;
    text-align: justify;
    text-indent: 20px;
    line-height: 23px;
    padding: 5px 10px;
}
.diferenca-4#imagem7{
    background-image: url(../imagens/download10.jpg);
    height: 90vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color: black;
    height: 30px;
}
footer p{
    text-align: center;
    padding-top: 4px;
    color: white;
    font-weight: bold;
}